@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Wild Magnolia';
    src: url('../public/fonts/Wild\ Magnolia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }